
<div>
  <header >
    <div class="site-name">Lib</div>
    <div style="display: flex; justify-content: center;">
      <ul>
        <li><%= link_to 'Libraries', bibliotekas_path, id: 'headerLink'%></li>
      </ul>
    </div>
  </header>
  <div id = "root_buttons">
    <%= button_to 'Sign up', new_admin_registration_path , method: 'get', id: 'rootBtn'%>
    <%= button_to 'Log in',new_admin_session_path , method: 'get', id: 'rootBtn'%>
  </div>






</div>
