<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Hello!</h4>
  </div>

  <div class="row justify-content-center">
    <%= button_to 'Sign up', new_admin_registration_path , method: 'get'%>
    <%= button_to 'Log in',new_admin_session_path , method: 'get'%>
  </div>


  <ul>
    <li><%= link_to 'Libraries', bibliotekas_path %></li>
  </ul>



</div>
