
  <header >
    <div class="site-name">Listing cards</div>
    <div style="display: flex; justify-content: center;">
      <ul>
        <li><%= link_to 'Create card', new_reader_card_path, id: 'headerLink' %></li>
      </ul>
    </div>
  </header>


  <div id = 'models'>
    <table id ='modelsTable' style = 'margin-top: 195px'>
      <thead id = 'modelsThead'>
      <tr>
        <th>Title</th>
        <th >Action</th>
      </tr>
      </thead>
      <tbody>
      <% @reader_cards.each do |reader_card| %>
        <tr>
          <td><%= reader_card.id %></td>
          <td><%= link_to 'Show', reader_card_path(reader_card.id) %></td>

      <% end %>
      </table>
  </div>

