<header >
  <div class="site-name">Listing authors</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <%= link_to 'Create Author', new_author_path, id: 'headerLink' %>
    </ul>
  </div>
</header>

<div >


  <div id = 'models'>
    <table id ='modelsTable' style = 'margin-top: 175px'>
      <thead id = 'modelsThead'>
      <tr>
        <th >Title</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td><%= link_to 'Show', author_path(author.id) %></td>


      <% end %>
      </table>
  </div>

</div>
