<header >
  <div class="site-name">Listing libraries</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <li><%= link_to 'Create libraries', new_biblioteka_path, id: 'headerLink' %></li>
    </ul>
  </div>
</header>

<div>


  <div id = 'models'>
    <table id = 'modelsTable'>
      <thead id = 'modelsThead'>
      <tr>
        <th >Title</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @bibliotekas.each do |biblioteka| %>
        <tr>
          <td><%= biblioteka.name %></td>
          <td><%= link_to 'Show', biblioteka_path(biblioteka.id) %></td>

      <% end %>
      </table>
  </div>

</div>
